.page-spinner-loader {
    text-align: center !important;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    bottom: 0;
    height: 100%;
    padding-top: 350px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    user-select: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2000
}
.page-spinner-loader .bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
    margin-right: .5em
}
.page-spinner-loader .bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
    margin-right: .5em
}
.page-spinner-loader > div {
    -moz-border-radius: 100%;
    -webkit-animation-fill-mode: both;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-border-radius: 100%;
    animation-fill-mode: both;
    animation: bouncedelay 1.4s infinite ease-in-out;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    height: 1em;
    width: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    background-color: #000000
}

@keyframes bouncedelay {
    0% {
        background-color: rgba(0,0,0,0);
    }
    100% {
        background-color: rgba(0,0,0,1);
    }
}
