<div class="form-horizontal">
	<div class="box-body">
	<!--
		<div class="form-group">
			<div class="col-md-12" >
			<label  class="col-sm-2 control-label">  </label>

				<button type="submit" ng-click="agregarIntensidadHoraria(periodoIndex)" class="btn btn-info"><i class="fa fa-plus"></i></button>
		
			</div>
		</div>
	-->
		<div class="form-group">
			<label  class="col-sm-2 control-label">Sede</label>

				<div class="col-sm-3">
					<select class="form-control" >
    					<option value="1">Pasto</option>
    					<option value="2">Tuquerres</option>
    					<option value="3">Tumaco</option>
    					<option value="4">Ipiales</option>

                    </select>
					
				</div>

			<label for="inputEmail" class="col-sm-2 control-label">Programa</label>
			<div class="col-sm-4" >
				
				<input type="text"  class="form-control"  placeholder="Nombre del Programa">
				
			</div>
				
		</div>

		<div class="form-group">
			<label  class="col-sm-2 control-label">{{periodo_tipo}}</label>

				<div class="col-sm-3">
					<input type="text"  class="form-control"  placeholder="Nº {{periodo_tipo}}">
					
					
				</div>

			<label for="inputEmail" class="col-sm-2 control-label">Asignatura</label>
			<div class="col-sm-4" >
				
				<input type="text"  class="form-control"  placeholder="Nombre de la asignatura">
				
			</div>
				
		</div>

		<div class="form-group">
			
			<label for="inputEmail" class="col-sm-2 control-label">Grupo</label>
			<div class="col-sm-4" >
				
				<div class="col-sm-3">
					<select class="form-control" >
    					<option value="1">1</option>
    					<option value="2">2</option>
    					

                    </select>
					
				</div>
				
			</div>
			<!--
			<label  class="col-sm-2 control-label">{{periodo_tipo}}</label>

				<div class="col-sm-3">
					<input type="text"  class="form-control"  placeholder="Nº {{periodo_tipo}}">
					
					
				</div>
				-->

				
		</div>


	</div>
	

	
</div>