<div class="col-md-12">
	<div class="box">

		<div class="box-header with-border">
			<h3 class="box-title">ACTIVIDADES DE INVESTIGACIÓN </h3>
		</div>
		<div class="box-body">
			<div>
				<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">

					<thead>
						<tr role="row" ">
							
							<th class="col-sm-3">Tipo</th>
							<th class="col-sm-1">Nivel Formación</th>
							<th class="col-sm-5">Titulo de Proyecto</th>
							<th class="col-sm-1">Acuerdo de Aprobación</th>
							<th class="col-sm-1">H.S</th>
							<th class="col-sm-1">H.SM</th>
							<th class="col-sm-2"></th>
						</tr>
					</thead>
					<tbody>

						<tr role="row" class="odd" ng-repeat=" actividadInvestigacion in actividadesInvestigacion"  ng-if="actividadInvestigacion.tipo == 1 || actividadInvestigacion.tipo == 2 || actividadInvestigacion.tipo == 3  || actividadInvestigacion.tipo == 4">
							
							<td>{{filterDetalles(actividadInvestigacion.tipo,tipoActividadesInvestigacion)}}
 </td>
							<td>{{filterDetalles(actividadInvestigacion.tipo,tipoNivelFormacion)}}</td>
							<td>{{actividadInvestigacion.titulo_proyecto}}</td>
							<td>{{actividadInvestigacion.acuerdo}}</td>
							<td>{{actividadInvestigacion.H_S}}</td>
							<td>{{actividadInvestigacion.H_SM}}</td>
							<td > 
								<button type="submit" class="btn btn-error" data-toggle="modal" data-target="#addInvestigacionModal" ng-click="editarInvestigacion( actividadInvestigacion)"><i class="fa  fa-pencil"></i></button>
								<button type="submit" ng-click="eliminarInvestigacion(actividadesInvestigacion,actividadInvestigacion)" class="btn btn-danger"><i class="fa  fa-minus"></i></button>
							  
							  </td>
							
						</tr>
					</tbody>
				</table>
				
			</div>

			<legend>Participación En Grupos o Lineas de  Investigación.</legend>

			<div>
				<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">

					<thead>
						<tr role="row">
							
							<th class="col-sm-4">Nombre Grupo</th>
							<th class="col-sm-6">Descripcion Actividades</th>
							<th class="col-sm-1">H.S</th>
							<th class="col-sm-1">H.SM</th>
							<th class="col-sm-2"></th>
						</tr>
					</thead>
					<tbody>

						<tr role="row" class="odd" ng-repeat=" actividadInvestigacion in actividadesInvestigacion | filter:{tipo:5}">
							
							<td >{{actividadInvestigacion.nombre_grupo}}</td>
							<td>{{actividadInvestigacion.descripcion}}</td>
							<td>{{actividadInvestigacion.H_S}}</td>
							<td>{{actividadInvestigacion.H_SM}}</td>
							<td>
								<button type="submit" class="btn btn-error" data-toggle="modal" data-target="#addInvestigacionModal" ng-click="editarInvestigacion(actividadInvestigacion)"><i class="fa  fa-pencil"></i></button>
								<button type="submit"  ng-click="eliminarInvestigacion(actividadesInvestigacion,actividadInvestigacion)" class="btn btn-danger" ><i class="fa  fa-minus"></i></button>
							</td>
							
						</tr>
					</tbody>
				</table>
				
			</div>

			<legend>Planeacion y Diseño de Proyectos</legend>

			<div>
				<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">

					<thead>
						<tr role="row">
							
							<th class="col-sm-2">Nombre Grupo</th>
							<th class="col-sm-5">Descripcion Actividades</th>
							<th class="col-sm-3">Financiador</th>
							<th class="col-sm-1">H.S</th>
							<th class="col-sm-1">H.SM</th>
							<th class="col-sm-2"> </th>
						</tr>
					</thead>
					<tbody>

						<tr role="row" class="odd" ng-repeat=" actividadInvestigacion in actividadesInvestigacion | filter:{tipo:6}">
							
							<td >{{actividadInvestigacion.nombre_grupo}}</td>
							<td>{{actividadInvestigacion.descripcion}}</td>
							<td>{{actividadInvestigacion.financiador}}</td>
							<td>{{actividadInvestigacion.H_S}}</td>
							<td>{{actividadInvestigacion.H_SM}}</td>
							<td>
								<button type="submit" class="btn btn-error" data-toggle="modal" data-target="#addInvestigacionModal"  ng-click="editarInvestigacion(actividadInvestigacion)" ><i class="fa  fa-pencil"></i></button>
								<button type="submit"  ng-click="eliminarInvestigacion(actividadesInvestigacion,actividadInvestigacion)" class="btn btn-danger"><i class="fa  fa-minus"></i></button>
							</td>
							
						</tr>
					</tbody>
				</table>
				
			</div>



		</div>


		<div class="box-footer clearfix">
			<button type="submit" data-toggle="modal" data-target="#addInvestigacionModal" class="btn btn-success pull-right" ng-click="agregarInvestigacion()">Agregar</button>
		</div>
		
	</div>
	
</div>




